body {
font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
}

a, a:hover, a:focus, a:active {
text-decoration: none;
color: inherit;
}

ul {
list-style: none;
}

.header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 170px;
background-color: #1F2937;
height: 60px;
}

.header-logo {
color: #F9FAF8;
font-size: 24px;
font-weight: bold;
}

.header-links {
display: flex;
gap: 15px;
font-size: 15px;
color: #E5E7EB;
}

.hero {
background-color: #1F2937;
display: flex;
flex-direction: row;
flex: 1 0 50%;
padding: 40px 170px 100px 170px;
gap: 50px;
}

.hero-text{
flex: 1 0 50%;
display: flex;
flex-direction: column;
gap: 15px;
}

.hero-title{
color: rgb(255, 197, 5);
font-size: 48px;
font-weight: 900;
flex: 1;
}

.hero-subtitle {
display: flex;
gap: 15px;
font-size: 15px;
color: #E5E7EB;
flex: 1;
}

.hero-button {
background-color: #3882F6;
color: white;
padding: 10px;
align-self: flex-start;
font-weight: bold;
border-radius: 8px;
display: flex;
justify-content: center;
width: 100px;
}

.hero-image{
flex: 1 0 50%;
}

img {
max-width: 100%;
max-height: 100%;
}

.details-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-title {
    font-size: 36px;
    padding: 70px 170px;
}

.warm-gradient {
    background: url(images/desktop@2x.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.details-cards{
    display: flex;
    flex-direction: row;
}

.card {
    width: 180px;
    height: 270px;
    margin: 0px 40px 100px 40px;
    display: flex;
    flex-direction: column;
}

.card-image>img {
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #000000;
    width: 180px;
    height: 180px;
}

.card-phrase {
    width: 180px;
    height: 90px;
    font-size: 14px;
    text-align: center;
    color: rgb(148, 145, 145);
    margin-top: 8px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px 240px;
}

.quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 35px;
}

#zico-section {
    font-weight: 400;
}

.signature {
    float: right;
    font-weight: bold;
}

.banner-section{
    background-color: white;
}

.banner{
    border-radius: 15px;
    background-color: #3882F6;
    height: 170px;
    margin: 100px 240px;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0 60px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    flex: 4;
    color: rgba(255, 255, 255, 0.835);
    margin: auto;
}

.banner-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
}

.banner-subtitle {
    font-size: 14px;
}

.banner-button {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-button>a{
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    padding: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.banner-button>a:hover{
    border: 3px solid #3882F6;
    border-radius: 10px;
    color: #3882F6;
    padding: 14px;
    background-color: white;
    font-weight: bold;
}

.footer{
    height: 80px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}